h1 {
    color: green;
    font-style: oblique;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200%;
}

p {
    color:brown;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
}

p2 {
    color: brown;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
}